body { 
  background: #c3ddd0 url(../images/bg.jpg) top center no-repeat; 
  background-attachment: fixed; 
  background-size: 100% 100%;  
}
body, input, textarea { 
  color: #333333; 
  font: 12px/20px Arial, sans-serif; 
}
p { 
  margin-bottom: 20px; 
}
a { 
  color: #555; 
  text-decoration: none; 
}
a:hover {
  color: #999; 
  text-decoration: none; 
}
input, textarea, button { 
  padding: 5px; 
}
h1 { 
  font-size: 26px; 
  color: #303030; 
  font-family: Helvetica, Arial, sans-serif; 
  margin: 0 0 15px;
}
#content {
  margin: 20% auto 0; 
  width: 580px; 
  position: relative;
}
#post-0 {
  display: inline-block;
  position: relative;
  left: 200px;
}
#logo { 
  position: absolute;
}

#logo:hover img {
  opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;     
}
#searchform .search-text  { 
  border: 1px solid #bbb; 
  background: #fff; 
}
.search-text { 
  width: 218px; 
  background: none repeat scroll 0 0 #FFFFFF; 
  border: 1px solid #bbb; border-radius: 5px; 
  color: #777; 
  float: left; 
  font-size: 12px; 
  height: 22px; 
  line-height: 22px; 
  margin-right: -35px; 
  padding: 5px 35px 6px 7px; 
}
.search-submit {
  width: 35px;
  height: 28px;
  background: url(../images/sprite.png) -5px -88px no-repeat;
  border: 0;
  cursor: pointer;
  position: relative;
  top: 3px;
  right: 5px;
}
.search-submit:hover { 
  background-position: -5px -66px; 
}